################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/SystemWspomaganiaDecyzji/DesignTimeBuild/.dtbcache.v2
*.suo
/.vs
/SystemWspomaganiaDecyzji/obj/Debug/netcoreapp3.1
/SystemWspomaganiaDecyzji/bin/Debug/netcoreapp3.1/MojZapis.txt
/SystemWspomaganiaDecyzji/bin/Debug/netcoreapp3.1/tmp.txt
/SystemWspomaganiaDecyzji/bin/Debug/netcoreapp3.1/testowy.txt
